DATABASE_URL=
SESSION_SECRET=
BASE_PASSWORD=
SEED_EMAIL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
DISCORD_CALLBACK_URL=
DISCORD_CALLBACK_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# TBD

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL=''
GOOGLE_CALLBACK_URL_PROD=''